/* Features Section - Home Page
------------------------------*/

@media (max-width: 768px) {
  .features .features-item + .features-item {
    margin-top: 40px;
  }
}

.features .features-item h3 {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.features .features-item img {
  /* border: 6px solid var(--color-box-background);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px; */
  -webkit-box-shadow: 43px -2px 48px -64px rgba(66, 68, 90, 1);
  -moz-box-shadow: 43px -2px 48px -64px rgba(66, 68, 90, 1);
  box-shadow: 43px -2px 48px -64px rgba(66, 68, 90, 1);
}

.features .features-item .features-img-bg {
  position: relative;
  min-height: 500px;
  margin-top: 0px;
  border-radius: 20px;
}

@media (max-width: 640px) {
  .features .features-item .features-img-bg {
    min-height: 300px;
  }
}

.features .features-item .features-img-bg img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.features .features-item .image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.features .features-item .image-stack .stack-back {
  grid-column: 4/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 80px;
  border-radius: 8px;
}

.features .features-item .image-stack .stack-front {
  grid-row: 1;
  grid-column: 1 / span 8;
  margin-top: 50px;
  width: 100%;
  z-index: 2;
  border-radius: 8px;
}

.section-title {
  text-align: center;
  padding-bottom: 60px;
  margin-top: 20px;
}

.section-title h2 {
  color: var(--color-secondary);
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.section-title h2:before,
.section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-title h2:before {
  margin: 0 15px 10px 0;
}

.section-title h2:after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin-bottom: 0;
}

/* Call-to-action Section - Home Page
------------------------------*/
.call-to-action {
  --color-default: #ffffff;
  --color-background: #000000;
  --color-background-rgb: 0, 0, 0;
  padding: 80px 0;
  position: relative;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}

.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.call-to-action:before {
  content: "";
  background: rgba(var(--color-background-rgb), 0.5);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.call-to-action .container {
  position: relative;
  z-index: 3;
}

.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-default);
}

.call-to-action p {
  color: var(--color-default);
}

.call-to-action .cta-btn {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--color-inverse);
  color: var(--color-inverse);
}

.call-to-action .cta-btn:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}
